<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BetPass Tests">
    <test name="LoginTests Suite">
        <classes>
            <class name="tests.TestLoginPage"/>
        </classes>
    </test>
    <test name="RegistrationTests Suite">
        <classes>
            <class name="tests.TestRegistrationPage"/>
        </classes>
    </test>
</suite>
