<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BetPass Tests">
    <test name="LoginTests Suite">
        <classes>
            <class name="tests.UI.LoginPageTest"/>
        </classes>
    </test>
    <test name="RegistrationTests Suite">
        <classes>
            <class name="tests.UI.RegistrationPageTest"/>
        </classes>
    </test>
    <test name="HomeTests Suite">
        <classes>
            <class name="tests.UI.HomePageTest"/>
        </classes>
    </test>
    <test name="GuideTests Suite">
        <classes>
            <class name="tests.UI.GuidePageTest"/>
        </classes>
    </test>
    <test name="NewsTests Suite">
        <classes>
            <class name="tests.UI.NewsPageTest"/>
        </classes>
    </test>
    <test name="RulesTests Suite">
        <classes>
            <class name="tests.UI.RulesPageTest"/>
        </classes>
    </test>
    <test name="TournamentsTests Suite">
        <classes>
            <class name="tests.UI.TournamentPageTest"/>
        </classes>
    </test>
    <test name="LoginAPITests Suite">
        <classes>
            <class name="tests.API.LoginAPI"/>
        </classes>
    </test>
</suite>

