<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BetPass Tests">
    <test name="LoginTests Suite">
        <classes>
            <class name="tests.TestLoginPage"/>
        </classes>
    </test>
    <test name="RegistrationTests Suite">
        <classes>
            <class name="tests.TestRegistrationPage"/>
        </classes>
    </test>
    <test name="HomeTests Suite">
        <classes>
            <class name="tests.TestHomePage"/>
        </classes>
    </test>
    <test name="GuideTests Suite">
        <classes>
            <class name="tests.TestGuidePage"/>
        </classes>
    </test>
    <test name="NewsTests Suite">
        <classes>
            <class name="tests.TestNewsPage"/>
        </classes>
    </test>
    <test name="RulesTests Suite">
        <classes>
            <class name="tests.TestRulesPage"/>
        </classes>
    </test>
    <test name="TournamentsTests Suite">
        <classes>
            <class name="tests.TestTournamentPage"/>
        </classes>
    </test>
</suite>
